@{
    ViewData["Title"] = "SlothLab Page";
}

<div class="topic">
    <h3>Sloth Flying Lab List</h3>
</div>
<div class="tab">
    <div class="tablist">
        <a href="/slothlab?labNum=1" id="slothlab1" class="tablist-item">
            <h5>Lab 1</h5>
        </a>
        <a href="/slothlab?labNum=2" id="slothlab2" class="tablist-item">
            <h5>Lab 2</h5>
        </a>
        <a href="/slothlab?labNum=3" id="slothlab3" class="tablist-item">
            <h5>Lab 3</h5>
        </a>
        <a href="/slothlab?labNum=4" id="slothlab4" class="tablist-item">
            <h5>Lab 4</h5>
        </a>
        <a href="/slothlab?labNum=5" id="slothlab5" class="tablist-item">
            <h5>Lab 5</h5>
        </a>
        <a href="/book/lab/1" class="tablist-item">
            <h5>Dino Lab</h5>
        </a>
    </div>
</div>


<div id="lab">
    <div class="item-info" style="flex-direction: column; align-items: center;">
        @{
            string tail1 = Convert.ToString(ViewBag.lab.GetProperty("imageUrl"));
            string src1 = ViewBag.rootapi + tail1;
            <div class="item-image" style="background-image: url(@src1); height: 200px;"> </div>
        }
        <div>
            <h5>อุปกรณ์ : @(ViewBag.lab.GetProperty("itemName")) </h5>
        </div>
    </div>

    <div tabindex="0">
        <table>
            <thead>
                <tr>
                    <th><br>Date<br><br></th>
                    @for (int r = 0; r < 9; r++)
                    {
                        <th>@($"{(r+8).ToString("D2")}.00 - {(r+9).ToString("D2")}.00")</th>
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    DateTime startDate1 = ViewBag.startDate;
                    for (int c = 0; c < 14; c++)
                    {
                        DateTime date1 = startDate1.AddDays(c);
                        <tr>
                            @for (int r = 0; r <= 9; r++)
                            {
                                @if (r == 0)
                                {
                                    <td class="th">
                                        @date1.ToString("ddd")<br>
                                        @date1.ToString("dd")<br>
                                        @date1.ToString("MMM")
                                    </td>
                                }
                                else
                                {
                                    var bookSlotTable = ViewBag.lab.GetProperty("bookSlotTable");
                                    var row = r - 1;
                                    string chk = Convert.ToString(@bookSlotTable[c][row]);
                                    if (chk == "0")
                                    {
                                        <td class="td-disable">@bookSlotTable[c][row]</td>
                                    }
                                    else
                                    {
                                        <td>@bookSlotTable[c][row]</td>
                                    }
                                }
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    document.getElementById("slothlab"+@(Convert.ToString(ViewBag.labNum))).className += " tab-active";
</script>
