@{
    ViewData["Title"] = "Booking Page";
}

<div class="topic">
    <h3>Dino Lab List</h3>
</div>
<div class="tab">
    <div class="tablist">
        <button id="hw" class="tablist-item" onclick="openCity(event, 'hw')">
            <h5>HW Lab</h5>
        </button>
        <button id="nw" class="tablist-item" onclick="openCity(event, 'nw')">
            <h5>NW Lab</h5>
        </button>
        <button id="saig" class="tablist-item" onclick="openCity(event, 'saig')">
            <h5>SAIG Lab</h5>
        </button>
        <button id="hcl" class="tablist-item" onclick="openCity(event, 'hcl')">
            <h5>HCL Lab</h5>
        </button>
        <button id="esl" class="tablist-item" onclick="openCity(event, 'esl')">
            <h5>ESL Lab</h5>
        </button>
        <a href="~/SlothLab?labNum=1">
            <button class="tablist-item">
                <h5>Sloth Flying Lab</h5>
            </button>
        </a>
    </div>
</div>

<div class="item-info">
    <div class="item-image" style="background-image: url(../Dino_item.png);"></div>
    <div class="item-detail">
        <form>
            @{
                DateTime inputDate = ViewBag.startDate;
                string curTime = ViewBag.curTime;
                string maxHr = ViewBag.maxHr;
                <p>อุปกรณ์ : Arduino </p>
                <label for="inputNum">จำนวน : </label>
                <input id="inputNum" type="number" min="1" max="10" value="1">
                <br><br>
                <label for="inputDay">วันที่ยืม : </label>
                <input id="inputDay" type="date" min="@(inputDate.ToString("yyyy-MM-dd"))"
                    max="@(inputDate.AddDays(13).ToString("yyyy-MM-dd"))" value="@(inputDate.ToString("yyyy-MM-dd"))" onchange="updateMinTime()">
                <br><br>
                <label for="inputTime">เวลาที่ยืม : </label>
                <input id="inputTime" type="time" min="@curTime" max="15:00" value="@curTime" readonly required>
                <input type="button" name="time" onclick="timeStepUp()" value="เพิ่ม">
                <input type="button" name="time" onclick="timeStepDown()" value="ลด">
                <br><br>
                <label for="inputHr">จำนวนชั่วโมงที่ยืม : </label>
                <input id="inputHr" type="number" min="1" max="@maxHr" value="1">
                <div class="mobile"><br></div>
                <input id="inputSubmit" type="submit" value="ยืมอุปกรณ์">
            }
        </form>
    </div>
</div>

<div tabindex="0">
    <table>
        <thead>
            <tr>
                <th><br>Date<br><br></th>
                @for (int r = 0; r < 7; r++)
                {
                    <th>@($"{(r+9).ToString("D2")}.00 - {(r+10).ToString("D2")}.00")</th>
                }
            </tr>
        </thead>
        <tbody>
            @{
                DateTime startDate = ViewBag.startDate;
                for (int c = 0; c < 14; c++)
                {
                    DateTime date = startDate.AddDays(c);
                    <tr>
                        <td class="th">
                            @date.ToString("ddd")<br>
                            @date.ToString("dd")<br>
                            @date.ToString("MMM")
                        </td>
                        @for (int r = 0; r < 7; r++)
                        {
                            <td>@ViewBag.BookTable[c,r]</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>

</div>

<script>

    function openCity(evt, lab) {
        var tabItem = document.getElementsByClassName("tablist-item");
        //var tabContent = document.getElementsByClassName("tabcontent");
        //for (i = 0; i < tabContent.length; i++) {
        //    tabContent[i].style.display = "none";
        //}
        for (i = 0; i < tabItem.length; i++) {
            tabItem[i].className = tabItem[i].className.replace(" tab-active", "");
        }
        //document.getElementById(lab).style.display = "block";
        evt.currentTarget.className += " tab-active";
    }

    document.getElementById("hw").click();

</script>
