@{
    ViewData["Title"] = "Booking Page";
}

<div class="topic">
    <h3>Dino Lab List</h3>
</div>
<div class="tab">
    <div class="tablist">
        <a href="/book?id=1" id="lab1" class="tablist-item">
            <h5>HW Lab</h5>
        </a>
        <a href="/book?id=2" id="lab2" class="tablist-item">
            <h5>NW Lab</h5>
        </a>
        <a href="/book?id=3" id="lab3" class="tablist-item">
            <h5>SAIG Lab</h5>
        </a>
        <a href="/book?id=4" id="lab4" class="tablist-item">
            <h5>HCL Lab</h5>
        </a>
        <a href="/book?id=5" id="lab5" class="tablist-item">
            <h5>ESL Lab</h5>
        </a>
        <a href="/SlothLab?labNum=1" class="tablist-item">
            <h5>Sloth Flying Lab</h5>
        </a>
    </div>
</div>

<div class="item-info">
    <div class="item-image" style="background-image: url(../Dino_item.png);"></div>
    <div class="item-detail">
        <form method="POST"  asp-controller="Book" asp-action="Booking">
            @{
                DateTime inputDate = ViewBag.startDate;
                string curTime = ViewBag.curTime;
                string maxHr = ViewBag.maxHr;
                int labId = ViewBag.id;
                <p>อุปกรณ์ : @ViewBag.itemName </p>
                <label>จำนวน : 1 ชิ้น</label>
                <br><br>
                <label for="inputDay">วันที่ยืม : </label>
                <input id="inputDay" type="date" min="@(inputDate.ToString("yyyy-MM-dd"))" name="date"
                    max="@(inputDate.AddDays(13).ToString("yyyy-MM-dd"))" value="@(inputDate.ToString("yyyy-MM-dd"))"
                    onchange="updateMinTime()">
                <br><br>
                <label for="inputTime">เวลาที่ยืม : </label>
                <input id="inputTime" type="time" min="@curTime" max="15:00" value="@curTime" name="time" readonly required>
                <input type="button" name="time" onclick="timeStepUp()" value="เพิ่ม">
                <input type="button" name="time" onclick="timeStepDown()" value="ลด">
                <br><br>
                <label for="inputHr">จำนวนชั่วโมงที่ยืม : </label>
                <input id="inputHr" type="number" min="1" max="@maxHr" value="1" name="hour">
                <div class="mobile"><br></div>
                <input name="id" value="@labId" style="display: none;">
                <input id="inputSubmit" type="submit" value="ยืมอุปกรณ์">
            }
        </form>
    </div>
</div>

<div tabindex="0">
    <table>
        <thead>
            <tr>
                <th><br>Date<br><br></th>
                @for (int r = 0; r < 7; r++)
                {
                    <th>@($"{(r+9).ToString("D2")}.00 - {(r+10).ToString("D2")}.00")</th>
                }
            </tr>
        </thead>
        <tbody>
            @{
                DateTime startDate = ViewBag.startDate;
                for (int c = 0; c < 14; c++)
                {
                    DateTime date = startDate.AddDays(c);
                    <tr>
                        <td class="th">
                            @date.ToString("ddd")<br>
                            @date.ToString("dd")<br>
                            @date.ToString("MMM")
                        </td>
                        @for (int r = 0; r < 7; r++)
                        {
                            <td>@ViewBag.BookTable[c,r]</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>

</div>

<script>
    document.getElementById("lab" + @(Convert.ToString(ViewBag.id))).className += " tab-active";

    function getLab() {
        var lab = document.getElementsByClassName("tablist-item tab-active");
        var ladId = document.getElementById("labId");
        //console.log(typeof lab[0].id);
        labId.setAttribute('name', 'id');
        labId.setAttribute('value', lab[0].id);
    }
</script>
