@{
    ViewData["Title"] = "Booking Page";
}

<div class="topic">
    <h3>Lab List</h3>
</div>
<div class="tab">
    <div class="tablist">
        <button class="tablist-item tab-active">
            <h5>HW Lab</h5>
        </button>
        <button class="tablist-item">
            <h5>NW Lab</h5>
        </button>
        <button class="tablist-item">
            <h5>SAIG Lab</h5>
        </button>
        <button class="tablist-item">
            <h5>HCL Lab</h5>
        </button>
        <button class="tablist-item">
            <h5>ESL Lab</h5>
        </button>
    </div>
</div>

<div class="item-info">
    <div class="item-image"></div>
    <div class="item-detail">
        <form>
            @{
                DateTime inputDate = ViewBag.startDate;
                string curTime = ViewBag.curTime;
                string maxHr = ViewBag.maxHr;
                <p>อุปกรณ์ : Arduino </p>
                <label for="inputNum">จำนวน : </label>
                <input id="inputNum" type="number" min="1" max="10" value="1">
                <br><br>
                <label for="inputDay">วันที่ยืม : </label>
                <input id="inputDay" type="date" min="@(inputDate.ToString("yyyy-MM-dd"))"
                    max="@(inputDate.AddDays(13).ToString("yyyy-MM-dd"))" value="@(inputDate.ToString("yyyy-MM-dd"))" onchange="updateMinTime()">
                <br><br>
                <label for="inputTime">เวลาที่ยืม : </label>
                <input id="inputTime" type="time" min="@curTime" max="15:00" value="@curTime" readonly required>
                <input type="button" name="time" onclick="timeStepUp()" value="เพิ่ม">
                <input type="button" name="time" onclick="timeStepDown()" value="ลด">
                <br><br>
                <label for="inputHr">จำนวนชั่วโมงที่ยืม : </label>
                <input id="inputHr" type="number" min="1" max="@maxHr" value="1">
                <div class="mobile"><br></div>
                <input id="inputSubmit" type="submit" value="ยืมอุปกรณ์">
            }
        </form>
    </div>
</div>

<div tabindex="0">
    <table>
        <thead>
            <tr>
                <th><br>Date<br><br></th>
                @for (int r = 0; r < 7; r++)
                {
                    <th>@($"{(r+9).ToString("D2")}.00 - {(r+10).ToString("D2")}.00")</th>
                }
            </tr>
        </thead>
        <tbody>
            @{
                DateTime startDate = ViewBag.startDate;
                for (int c = 0; c < 14; c++)
                {
                    DateTime date = startDate.AddDays(c);
                    <tr>
                        @for (int r = 0; r <= 7; r++)
                        {
                            @if (r == 0)
                            {
                                <td class="th">
                                    @date.ToString("ddd")<br>
                                    @date.ToString("dd")<br>
                                    @date.ToString("MMM")
                                </td>
                            }
                            else
                            {
                                <td>@((r)+"-"+(c+1))</td>
                            }

                        }
                    </tr>
                }
            }
        </tbody>
    </table>

</div>
